#preview-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 420px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#preview {
  width: 100%;
  background-color: #000;
  margin-bottom: 5px;
}
#startBtn {
  all: unset;
  width: 100%;
  border-radius: 5px;
  padding: 12px 20px;
  background-color: white;
  color: #cc0d00;
  text-align: center;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
}
#startBtn:disabled {
  color: #dcdcdc;
  background-color: darkgray;
  cursor: not-allowed;
}
